<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/job.css">
    <title>JOB | FINDINTERN</title>
    <link rel="shortcut icon" href="/stylesheets/Assets/toplogo.png" type="image/x-icon">
</head>
<body>
    <div class="header">
        <div class="header__left">
          <a href="/home"><img src="/stylesheets/Assets/demo-logo.png" alt="logo"></a>
          <input class="headersearch" type="text" placeholder="Search by company"> 
          <input class="headersearch" type="text" placeholder="City , State ,or zip code">
        </div>
        <div class="header__right">
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> home </i>
              <h3><a href="/home">Home</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> construction </i>
              <h3>Industry</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> business_center </i>
              <h3>Jobs</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> how_to_reg </i>
          <h3>Register</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> place </i>
              <h3>Location</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> account_circle </i>
              <h3><a href="/me">Me</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> logout </i>
              <h3><a href="/logout">Logout</a></h3>
            </div>
          </div>
    </div>
    
    <div class="job_description">
        <img src="\stylesheets\Assets\amazon.png" alt="Logo">
        <h1>AMAZON INDIA</h1>
        <span class="title">Seattle, WA</span>
        <span class="tag">Internet | 19,220,841 followers</span>
        <button><a href="/applyjob/amazon">APPLY</a></button>
        <span class="description">Overview</span>
        <p class="p">
          Amazon is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking. We are driven by the excitement of building technologies, inventing products, and providing services that change lives. We embrace new ways of doing things, make decisions quickly, and are not afraid to fail. We have the scope and capabilities of a large company, and the spirit and heart of a small one.
          Together, Amazonians research and develop new technologies from Amazon Web Services to Alexa on behalf of our customers: shoppers, sellers, content creators, and developers around the world.
          Our actions, goals, projects, programs, and inventions begin and end with the customer top of mind.
          What do we mean? That our approach remains the same as it was on Amazon's very first day - to make smart, fast decisions, stay nimble, invent, and focus on delighting our customers.
        </p>
    </div>
    <div class="job_about">
      <p class="about">Website <p class="abt">http://www.amazon.com</p>
      <p class="about">Industry <p class="abt">Internet</p>
      <p class="about">Company Size <p class="abt">10,001+ employees</p>
      <p class="about">Type <p class="abt">Public Company</p>
      <p class="about">Founded <p class="abt">1994</p>
      <p class="about">Specialties <p class="abt">e-Commerce, Retail, Operations, and Internet</p>
    </div>

</body>
</html>