<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/job.css">
    <title>JOB | FINDINTERN</title>
    <link rel="shortcut icon" href="/stylesheets/Assets/toplogo.png" type="image/x-icon">
</head>
<body>
    <div class="header">
        <div class="header__left">
          <a href="/home"><img src="/stylesheets/Assets/demo-logo.png" alt="logo"></a>
          <input class="headersearch" type="text" placeholder="Search by company"> 
          <input class="headersearch" type="text" placeholder="City , State ,or zip code">
        </div>
        <div class="header__right">
          <div class="headerOption">
            <i class="material-icons headerOption__icon"> home </i>
            <h3><a href="/home">Home</a></h3>
          </div>
          <div class="headerOption">
            <i class="material-icons headerOption__icon"> construction </i>
            <h3><a href="/industry">Industry</a></h3>
          </div>
          <div class="headerOption">
            <i class="material-icons headerOption__icon"> business_center </i>
            <h3><a class="goshijin-sama" href="/jobs">Jobs</a></h3>
          </div>
          <div class="headerOption">
            <i class="material-icons headerOption__icon"> how_to_reg </i>
            <h3>Register</h3>
          </div>
          <div class="headerOption">
            <i class="material-icons headerOption__icon"> place </i>
            <h3><a href="/location.ejs">Location</a></h3>
          </div>
          <div class="headerOption">
            <i class="material-icons headerOption__icon"> account_circle </i>
            <h3><a href="/me">Me</a></h3>
          </div>
          <div class="headerOption">
            <i class="material-icons headerOption__icon"> logout </i>
            <h3><a href="/logout">Logout</a></h3>
          </div>
  
        </div>
    </div>
    
    <div class="job_description">
        <img src="\stylesheets\Assets\citi.jpeg" alt="Logo">
        <h1>CITI</h1>
        <span class="title">New York, New York</span>
        <span class="tag">Financial Services | 128,205 followers</span>
        <button><a href="/applyjob/citi">APPLY </a></button>
        <span class="description">Overview</span>
        <p class="p">
            Citi's mission is to serve as a trusted partner to our clients by responsibly providing financial services that enable growth and economic progress. Our core activities are safeguarding assets, lending money, making payments and accessing the capital markets on behalf of our clients. We have 200 years of experience helping our clients meet the world's toughest challenges and embrace its greatest opportunities. We are Citi, the global bank – an institution connecting millions of people across hundreds of countries and cities.

            For information on Citi’s commitment to privacy, visit on.citi/privacy.
        </p>
    </div>
    <div class="job_about">
      <p class="about">Website <p class="abt">http://www.citi.com</p>
      <p class="about">Industry <p class="abt">Financial Services</p>
      <p class="about">Company Size <p class="abt">10,001+ employees</p>
      <p class="about">Type <p class="abt">Public Company</p>
      <p class="about">Founded <p class="abt">1812</p>
      <p class="about">Specialties <p class="abt">Banking, Commercial Banking, Investment Banking etc</p>
    </div>

</body>
</html>