<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/industry.css">
    <title>INDUSTRY</title>
    <link rel="shortcut icon" href="/stylesheets/Assets/toplogo.png" type="image/x-icon">
</head>
<body>
    <div class="header">
        <div class="header__left">
          <a href="/home"><img src="/stylesheets/Assets/demo-logo.png" alt="logo"></a>
        </div>
        <div class="header__right">
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> home </i>
              <h3><a href="/home">Home</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> construction </i>
              <h3>Industry</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> business_center </i>
              <h3><a class="goshijin-sama" href="/jobs">Jobs</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> how_to_reg </i>
          <h3><a href="https://docs.google.com/forms/d/e/1FAIpQLSefXXKdDMnQhFm5nE1TGgB7bgjGflqHz6MVeAdWAibFBaCL4A/viewform" class="goshijin-sama">Register</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> place </i>
              <a href="/location"><h3>Location</h3></a>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> account_circle </i>
              <h3><a href="/me">Me</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> logout </i>
              <h3><a href="/logout">Logout</a></h3>
            </div>
          </div>
    </div>

<section class="listings">
    <h2 class="header_text">Internship By Industry</h2>
    <ul class="listing__grid">
        <li class="card">
          <a href="/Design-Internships"><img class="card__logo" src="/stylesheets/Assets/Design-Internships.png" alt="company logo"></a>
            
            <p class="card__heading">Design-Internships</p>
            
        </li>

        <li class="card">
          
            <a href="/Engineering-Internships"><img class="card__logo"src="/stylesheets/Assets/Engineering-Internships.png" alt="company logo"></a>
            <p class="card__heading">Engineering-Internshipsl</p>
            
    
        </li>

        <li class="card">

            <img class="card__logo"src="/stylesheets/Assets/Finance-Internships.png" alt="company logo">
            <p class="card__heading">Finance-Internships</p>
            

        </li>

        <li class="card">
   
            <img class="card__logo"src="/stylesheets/Assets/Human-Resource-Internships.png" alt="company logo">
            <p class="card__heading">Human-Resource-Internships</p>
            

        </li>

        <li class="card">

            <a href="/IT-Internships"><img class="card__logo"src="/stylesheets/Assets/IT-Internships.png" alt="company logo"></a>
            <p class="card__heading">IT-Internships</p>
            

        </li>

        <li class="card">

            <a href="/Marketing-Internships"><img class="card__logo"src="/stylesheets/Assets/Marketing-Internships.png" alt="company logo"></a>
            <p class="card__heading">Marketing-Internships</p>
            

        </li>

        <li class="card">

            <img class="card__logo"src="/stylesheets/Assets/MBA-Internships.png" alt="company logo">
            <p class="card__heading">MBA-Internships</p>
            

        </li>

        <li class="card">
   
            <img class="card__logo"src="/stylesheets/Assets/Media-Internships.png" alt="company logo">
            <p class="card__heading">Media-Internships</p>
            
 
        </li>
        
    </ul>

</section>

</body>
</html>