<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="\stylesheets\job.css">
    <title>JOB | FINDINTERN</title>
    <link rel="shortcut icon" href="/stylesheets/Assets/toplogo.png" type="image/x-icon">
</head>
<body>
    <div class="header">
        <div class="header__left">
          <a href="/home"><img src="/stylesheets/Assets/demo-logo.png" alt="logo"></a>
          <input class="headersearch" type="text" placeholder="Search by company"> 
          <input class="headersearch" type="text" placeholder="City , State ,or zip code">
        </div>
        <div class="header__right">
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> home </i>
              <h3>Home</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> supervisor_account </i>
              <h3>My Network</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> business_center </i>
              <h3>Jobs</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> how_to_reg </i>
          <h3>Register</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> notifications </i>
              <h3>Notifications</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> account_circle </i>
              <h3><a href="/me">Me</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> logout </i>
              <h3>Logout</h3>
            </div>
          </div>
    </div>
    
    <div class="job_description">
        <img src="\stylesheets\Assets\insta.png" alt="Logo">
        <h1>INSTAGRAM</h1>
        <span class="title">Menlo Park, CA, US</span>
        <span class="tag">Computer Software | 789,385 followers</span>
        <button><a href="/applyjob/instagram">APPLY</a></button>
        <span class="description">Overview</span>
        <p class="p">
          More than one billion people around the world use Instagram,
          and we’re proud to be bringing them closer to the people and things they love.
          Instagram inspires people to see the world differently, discover new interests,
          and express themselves.
          Since launching in 2010, our community has grown at a rapid pace.
          Our teams are growing fast, too, and we’re looking for talent across engineering,
          product management, design, research, analytics, technical program management, operations, and more.
          In addition to our headquarters in Menlo Park, we have thriving offices in New York City and
          San Francisco where teams are doing impactful work every day.
        </p>
    </div>
    <div class="job_about">
      <p class="about">Website <p class="abt">http://www.instagram.com</p>
      <p class="about">Industry <p class="abt">Computer Software</p>
      <p class="about">Company Size <p class="abt">10,001+ employees</p>
      <p class="about">Type <p class="abt">Public Company</p>
      <p class="about">Founded <p class="abt">2010</p>
    </div>

</body>
</html>