<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/job.css">
    <title>JOB | FINDINTERN</title>
    <link rel="shortcut icon" href="/stylesheets/Assets/toplogo.png" type="image/x-icon">
</head>
<body>
    <div class="header">
        <div class="header__left">
          <a href="/home"><img src="/stylesheets/Assets/demo-logo.png" alt="logo"></a>
          <input class="headersearch" type="text" placeholder="Search by company"> 
          <input class="headersearch" type="text" placeholder="City , State ,or zip code">
        </div>
        <div class="header__right">
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> home </i>
              <h3><a href="/home">Home</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> supervisor_account </i>
              <h3>My Network</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> business_center </i>
              <h3><a class="goshijin-sama" href="/jobs">Jobs</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> how_to_reg </i>
          <h3>Register</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> notifications </i>
              <h3>Notifications</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> account_circle </i>
              <h3><a href="/me">Me</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> logout </i>
              <h3><a href="/logout">Logout</a></h3>
            </div>
          </div>
    </div>
    
    <div class="job_description">
        <img src="\stylesheets\Assets\kotak life.png" alt="Logo">
        <h1>KOTAK LIFE</h1>
        <span class="title">Mumbai, Maharashtra</span>
        <span class="tag">Insurance | 115,149 followers</span>
        <button><a href="/applyjob/kotak">APPLY</a></button>
        <span class="description">Overview</span>
        <p class="p">
            Kotak Life Insurance offers its customers innovative life insurance products that help them stay financially independent at every stage of life.
            For any policy related queries please write to us at kli.grievance@kotak.com with your 8 digit policy number.
            Kotak Life Insurance's products include rural plans, term plans, savings, children, retirement and investment plans at nominal premium rates to be affordable by individual investment requirements that can cater to their lifetime requirements and each insurance plan is designed to provide maximum protection in addition to benefits and keeping in mind the different sections of society.[7] To facilitate the sale of its products the company has a network of branch offices distributed across country, individual agents, insurance agencies and offices, individual and firm brokers for claim settlements and these products are also available online through aggregators and the company website.
        </p>
    </div>
    <div class="job_about">
      <p class="about">Website <p class="abt">http://www.insurance.kotak.com/</p>
      <p class="about">Industry <p class="abt">Insurance</p>
      <p class="about">Company Size <p class="abt">5,001-10,000 employees</p>
      <p class="about">Type <p class="abt">Privately Held</p>
      <p class="about">Founded <p class="abt">2001</p>
      
    </div>

</body>
</html>