<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/location.css">
    <title>LOCATION</title>
    <link rel="shortcut icon" href="/stylesheets/Assets/toplogo.png" type="image/x-icon">
</head>
<body>
    <div class="header">
        <div class="header__left">
          <a href="/home"><img src="/stylesheets/Assets/demo-logo.png" alt="logo"></a>
        </div>
        <div class="header__right">
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> home </i>
              <h3><a href="/home">Home</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> construction </i>
              <h3><a href="/industry">Industry</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> business_center </i>
              <h3><a class="goshijin-sama" href="/jobs">Jobs</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> how_to_reg </i>
          <h3><a href="https://docs.google.com/forms/d/e/1FAIpQLSefXXKdDMnQhFm5nE1TGgB7bgjGflqHz6MVeAdWAibFBaCL4A/viewform" class="goshijin-sama">Register</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> place </i>
              <h3><a href="/location">Location</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> account_circle </i>
              <h3><a href="/me">Me</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> logout </i>
              <h3><a href="/logout">Logout</a></h3>
            </div>
          </div>
    </div>

<section class="listings">
    <h2 class="header_text">Internship By Location</h2>
    <ul class="listing__grid">
        <li class="card">
            <a href="/delhi"><img class="card__logo" src="/stylesheets/Assets/Delhi-Internships.svg" alt="company logo"></a>
            <p class="card__heading">Delhi-Internships</p>
            
        </li>

        <li class="card">
          
            <a href="/chennai"><img class="card__logo"src="/stylesheets/Assets/Chennai-Internships.svg" alt="company logo"></a>
            <p class="card__heading">Chennai-Internships</p>
            
    
        </li>

        <li class="card">

            <a href="/gurgaon"><img class="card__logo"src="/stylesheets/Assets/Gurgaon-Internships.svg" alt="company logo"></a>
            <p class="card__heading">Gurgaon-Internships</p>
            

        </li>

        <li class="card">
   
            <a href="/hyderabad"><img class="card__logo"src="/stylesheets/Assets/Hyderabad-Internships.svg" alt="company logo"></a>
            <p class="card__heading">Hyderabad-Internships</p>
            

        </li>

        <li class="card">

            <a href="/kolkata"><img class="card__logo"src="/stylesheets/Assets/Kolkata-Internships.svg" alt="company logo"></a>
            <p class="card__heading">Kolkata-Internships</p>
            

        </li>

        <li class="card">

            <a href="/mumbai"><img class="card__logo"src="/stylesheets/Assets/Mumbai-Internships.svg" alt="company logo"></a>
            <p class="card__heading">Mumbai-Internships</p>
            

        </li>

        <li class="card">

            <a href="/pune"><img class="card__logo"src="/stylesheets/Assets/Pune-Internships.svg" alt="company logo"></a>
            <p class="card__heading">Pune-Internships</p>
            

        </li>

        <li class="card">
   
            <a href="/bangalore"><img class="card__logo"src="/stylesheets/Assets/Bangalore-Internships.svg" alt="company logo"></a>
            <p class="card__heading">Bangalore-Internships</p>
            
 
        </li>
        
    </ul>

</section>

</body>
</html>