<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/job.css">
    <title>JOB | FINDINTERN</title>
    <link rel="shortcut icon" href="/stylesheets/Assets/toplogo.png" type="image/x-icon">
</head>
<body>
    <div class="header">
        <div class="header__left">
          <a href="/home"><img src="/stylesheets/Assets/demo-logo.png" alt="logo"></a>
          <input class="headersearch" type="text" placeholder="Search by company"> 
          <input class="headersearch" type="text" placeholder="City , State ,or zip code">
        </div>
        <div class="header__right">
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> home </i>
              <h3><a href="/home">Home</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> supervisor_account </i>
              <h3>My Network</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> business_center </i>
              <h3><a class="goshijin-sama" href="/jobs">Jobs</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> how_to_reg </i>
          <h3>Register</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> notifications </i>
              <h3>Notifications</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> account_circle </i>
              <h3><a href="/me">Me</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> logout </i>
              <h3><a href="/logout">Logout</a></h3>
            </div>
          </div>
    </div>
    
    <div class="job_description">
        <img src="\stylesheets\Assets\mi.png" alt="Logo">
        <h1>XIAOMI INDIA</h1>
        <span class="title">Bangalore, Karnataka</span>
        <span class="tag">Internet | 128,205 followers</span>
        <button><a href="/applyjob/mi">APPLY</a></button>
        <span class="description">Overview</span>
        <p class="p">
            Xiaomi was founded in 2010 by serial entrepreneur Lei Jun, who believes that high-quality
            technology doesn't need to cost a fortune. We create remarkable hardware, software, and internet
            services for and with the help of our Mi fans. We incorporate their feedback into our product range,
            which currently includes the Mi Note Pro, Mi Note, Mi 4, Redmi 2, Mi TV, Mi Band and other accessories. With more than 61 million handsets sold in 2014, and products launched in Taiwan, Hong Kong,
            Singapore, Malaysia, Philippines, India, Indonesia and Brazil, Xiaomi is expanding its footprint across the world to become a global brand.
            We believe in "Innovation For Everyone"​ - designing innovative products with best specs, highest quality & honest price. We want to be the coolest tech company for our India Mi fans.
            We are now No. 1 smartphone brand in India.
        </p>
    </div>
    <div class="job_about">
      <p class="about">Website <p class="abt">http://www.mi.com</p>
      <p class="about">Industry <p class="abt">Internet</p>
      <p class="about">Company Size <p class="abt">10,001+ employees</p>
      <p class="about">Type <p class="abt">Public Company</p>
      <p class="about">Founded <p class="abt">2010</p>
      <p class="about">Specialties <p class="abt">Internet Company, Smartphones, accessories etc</p>
    </div>

</body>
</html>