<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/job.css">
    <title>JOB | FINDINTERN</title>
    <link rel="shortcut icon" href="/stylesheets/Assets/toplogo.png" type="image/x-icon">
</head>
<body>
    <div class="header">
        <div class="header__left">
          <a href="/home"><img src="/stylesheets/Assets/demo-logo.png" alt="logo"></a>
          <input class="headersearch" type="text" placeholder="Search by company"> 
          <input class="headersearch" type="text" placeholder="City , State ,or zip code">
        </div>
        <div class="header__right">
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> home </i>
              <h3><a href="/home">Home</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> supervisor_account </i>
              <h3>My Network</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> business_center </i>
              <h3><a class="goshijin-sama" href="/jobs">Jobs</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> how_to_reg </i>
          <h3>Register</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> notifications </i>
              <h3>Notifications</h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> account_circle </i>
              <h3><a href="/me">Me</a></h3>
            </div>
            <div class="headerOption">
              <i class="material-icons headerOption__icon"> logout </i>
              <h3><a href="/logout">Logout</a></h3>
            </div>
          </div>
    </div>
    
    <div class="job_description">
        <img src="\stylesheets\Assets\myntra2.png" alt="Logo">
        <h1>MYNTRA</h1>
        <span class="title">Bangalore, Karnataka</span>
        <span class="tag">Internet | 680,252 followers</span>
        <button><a href="/applyjob/myntra">APPLY</a></button>
        <span class="description">Overview</span>
        <p class="p">
            Myntra is India’s leading e-commerce company committed to making fashion and lifestyle products accessible to everyone. We create solutions that disrupt the ordinary and help make the world a happier, more fashionable place. 

            Our Culture
            As self-driven, motivated individuals who believe in taking ownership instead of being handed responsibility, we are a curiously non-hierarchical team who believe in working as a whole to take the Organization forward. 
            
            Firm believers of meritocracy, we encourage you to take on tasks and readily empower you with the right tools, space, and opportunities. In essence, work at Myntra is challenging but fun - we believe in equal opportunity, encourage intellectual curiosity and empower you to be the change.
            
            If you’re just as passionate about fashion and would love a workplace that is purely result-driven, Myntra is the place for you!
            
            Check out open jobs on https://boards.greenhouse.io/myntra
        </p>
    </div>
    <div class="job_about">
      <p class="about">Website <p class="abt">http://www.myntra.com</p>
      <p class="about">Industry <p class="abt">Internet</p>
      <p class="about">Company Size <p class="abt">1,001-5,000 employees</p>
      <p class="about">Type <p class="abt">Privately Held</p>
      <p class="about">Founded <p class="abt">2007</p>
      <p class="about">Specialties <p class="abt">Largest current E-Commerce, Private Fashion Labels</p>
    </div>

</body>
</html>