<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/stylesheets/startup.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FindIntern</title>
    <link rel="shortcut icon" href="/stylesheets/Assets/toplogo.png" type="image/x-icon">
</head>
<body>
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="/stylesheets/Assets/demo-logo.png"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto"> 
                  <li class="nav-item">
                    <a class="nav-link" href="#top">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#services">SERVICES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about-us">ABOUT US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#companies">COMPANIES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/loginForm">LOGIN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/signupForm">SIGNUP</a>
                  </li>
                </ul>
              </div>
          </nav>
    </section>
<!----------------Banner--section---------------->        
<section id="banner">
<div class="container">
<div class="row">
  <div class="col-md-6">
    <p class="promo-title">FINDINTERN</p>
    <p>Choose a job you love, and you will never have to work a day in your life.</p>
    <p>Find jobs that fit your qualifications.</p>
  </div>
  <div class="col-md-6 text-center">
    <img src="/stylesheets/Assets/job.png" class="img-fluid">
  </div>
</div>
</div>
<img src="/stylesheets/Assets/wave2.png" class="bottom-img">
</section>
<!----------------Banner--section---------------->
<section id="services">
<div class="container text-center">
  <h1 class="title">What We Do?</h1>
<div class="row">
  <div class="col-md-4">
    <img src="/stylesheets/Assets/career exploration.png" class="service-img">
    <h4>Career Exploration</h4>
    <p>Learn about a career field from the inside and decide if this is the right career field for you.
       Work alongside a professional in your chosen career area.
       Observe the workplace and see if it matches expectations.</p>
  </div>
  <div class="col-md-4">
    <img src="/stylesheets/Assets/leadership and skill development.png" class="service3-img">
    <h4>Leadership and Skill Development</h4>
    <p>Learn new skills and add to your knowledge base while gaining confidence in your abilities.
       Observe the workplace and see if it matches expectations.</p>
  </div>
  <div class="col-md-4">
    <img src="/stylesheets/Assets/Networking and Establishing Mentors and References.png" class="service2-img">
    <h4>Networking and Establishing Mentors and References</h4>
    <p>Meet new people and practice networking skills while establishing a network of professional 
       contacts, mentors, and references.
       Open to door to advice on the next steps to take on your career path.</p>
  </div>
  <div class="col-md-4">
    <img src="/stylesheets/Assets/Resume Enhancements.png" class="service4-img">
    <h4>Resume Enhancements</h4>
    <p>Gain valuable experience and accomplishments to add to your resume and/or enhance your 
       application to graduate school.
       Create an advantage over other job or graduate school applicants.
       Potential for a full-time job offer at the end of the internship based on your performance.</p>
  </div>
  <div class="col-md-4">
    <img src="/stylesheets/Assets/gain social proof for your skills and talents.png" class="service2-img">
    <h4>Gain Social Proof for your Skills and Talents</h4>
    <p>Let others recommend and endorse you for your skills and past work.
       When others recommend or endorse you, anyone who sees your profile can
       see these and it shows you have other experts backing up your claims to have certain skills.
       This is very powerful in making connections.
       You can build your credibility through the endorsements and testimonials that
       FindIntern allows your contacts to leave on your profile.</p>
  </div>
  <div class="col-md-4">
    <img src="/stylesheets/Assets/follow companies.png" class="service2-img">
    <h4>Follow Companies</h4>
    <p>FindIntern is a brilliant tool for researching organisations and people that work at them.
      You can use this to target people within your network that work for organisations that you 
      really want to work for.</p>
  </div>
</div>
  <button type="button" class="btn btn-primary">All Services</button>
</div>
</section>
<!--------------------------About Us-------------------------->
<section id="about-us">
  <div class="container">
    <h1 class="title text-center">Why Choose Us?</h1>
    <div class="row">
      <div class="col-md-6">
        <p class="about-title">Why we're different</p>
        <ul>
          <li>It won’t pay much.</li>
          <li>You may get the grunt work.</li>
          <li>You could get labeled.</li>
          <li>The hours can vary.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="/stylesheets/Assets/network.png" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!--------------------Comapanies-------------------->
<section id="companies">
  <div class="container">
    <h1 class="title text-center">Companies</h1>
    <div class="row offset-1 text-center">
      <div class="col-md-5 companies">
        <p>Google LLC is an American multinational technology company that specializes
           in Internet-related services and products, which include online advertising
           technologies, a search engine, cloud computing, software, and hardware.</p>
           <img src="/stylesheets/Assets/google.png">
           <p><b>GOOGLE</b></p>
      </div>
      <div class="col-md-5 companies">
        <p>Microsoft was founded in 1975. We develop and market software,
          services, and hardware devices that deliver new opportunities,
           greater convenience, and enhanced value to people's lives. 
           We do business worldwide and have offices in more than 100 countries.</p>
           <img src="/stylesheets/Assets/microsoft.png">
           <p><b>MICROSOFT</b></p>
      </div>
      <div class="col-md-5 companies">
        <p>At Netflix, we want to entertain the world. Whatever your taste,
           and no matter where you live, we give you access to best-in-class
           TV shows, movies and documentaries. Our members control what they
           want to watch, when they want it, with no ads, in one simple subscription.</p>
           <img src="/stylesheets/Assets/netflix.png">
           <p><b>NETFLIX</b></p>
      </div>
      <div class="col-md-5 companies">
        <p>Disney+ Hotstar is an Indian subscription video The service primarily
           features content from Star India's and Fox's networks, including film,
           television, sports content, and original programming, as well as content
           from third-party partners such as HBO, Showtime and Sony Pictures.</p>
           <img src="/stylesheets/Assets/disney+ hotstar.png">
           <p><b>DISNEY+ HOTSTAR</b></p>
      </div>
    </div>
  </div>
</section>
<!--------------footer section-------------->
<section id="footer">
  <img src="/stylesheets/Assets/wave1.png" class="footer-img">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-box">
        <img src="/stylesheets/Assets/demo-logo.png">
        <p>Choose a job you love, and you will never have to work a day in your life.
           Do something for somebody every day for which you do not get paid.
           Find jobs that fit your qualifications.</p>
      </div>
      <div class="col-md-4 footer-box">
        <p><b>CONTACT US</b></p>
        <p><i class="fa fa-map-marker"></i>  THANE, MAHARASHTRA</p>
        <p><i class="fa fa-phone"></i>  +91 9517532486</p>
        <p><i class="fa fa-envelope-o"></i>  abc@gmail.com</p>
      </div>
    </div>
    <hr>
    <p class="copyright">Website Certified By FindIntern</p>
  </div>
</section>

</body>
</html>
